@import "../theme/variables";

.background-dark {
  background-color: $gray-900;
  color: $white;

  hr {
    border-top-color: $white;
  }
}

.imdb-yellow, a.imdb-yellow {
  color: $imdb-yellow;
}

.instagram-purple, a.instagram-purple {
  color: $instagram-purple;
}

.twitter-blue, a.twitter-blue {
  color: $twitter-blue;
}