<header class="masthead text-center text-white"

        {% if include.image %}
         style="background-image: url({{ include.image }});"
        {% else %}
         style="background-image: url({{ site.masthead-image }});"
        {% endif %}
        >

	<div class="masthead-content">
		<div class="container">
			<h1 class="masthead-heading mb-0">
				{% if include.heading %}
					{{ include.heading }}
				{% else %}
					{{ page.title }}
				{% endif %}
			</h1>
			<h2 class="masthead-subheading mb-0">{{ include.subheading }}</h2>
			<!--<a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>-->
		</div>
	</div>
</header>