<!DOCTYPE html>
<html lang="en">

{% include common/head.html %}

<body>

<!-- Navigation -->
{% include common/nav.html %}

{% include common/masthead.html
	heading="Artists"
	subheading=""
%}

<section class="background-dark">
	<div class="container">
		<div class="row align-items-top pb-5">

			{% for artist in site.artists %}

				<div class="col-lg-3 col-md-4 col-12 mt-5 d-flex flex-column justify-content-start">

					<!--name-->
					<div>
						<h4>{{ artist.title }}</h4>
					</div>

					<!--bio-->
					<div>{{ artist.content }}</div>

					<!--links-->
					<div class="d-flex flex-row justify-content-start">

						<!--website-->
						{% if artist.website %}
							<a class="mr-2" href="{{ artist.website }}" target="_blank">
					          <span class="fa-stack fa-lg">
					            <i class="fa fa-stack-2x fa-inverse fa-globe text-primary"></i>
					          </span>
							</a>
						{% endif %}

						<!--imdb-->
						{% if artist.imdb %}
							<a class="mr-2" href="{{ artist.imdb }}" target="_blank">
					          <span class="fa-stack fa-lg">
					            <i class="fa fa-stack-2x fa-inverse fa-imdb imdb-yellow"></i>
					          </span>
							</a>
						{% endif %}

						<!--instagram-->
						{% if artist.instagram %}
							<a class="mr-2" href="{{ artist.instagram }}" target="_blank">
					          <span class="fa-stack fa-lg">
					            <i class="fa fa-stack-2x fa-inverse fa-instagram instagram-purple"></i>
					          </span>
							</a>
						{% endif %}

						<!--twitter-->
						{% if artist.twitter %}
							<a href="{{ artist.twitter }}" target="_blank">
					          <span class="fa-stack fa-lg">
					            <i class="fa fa-stack-2x fa-inverse fa-twitter-square twitter-blue"></i>
					          </span>
							</a>
						{% endif %}
					</div>
				</div>

			{% endfor %}
		</div>
	</div>
</section>

{% include common/footer.html %}
{% include common/javascript.html %}
</body>

</html>
