<!DOCTYPE html>
<html lang="en">

{% include common/head.html %}

<body>

<!-- Navigation -->
{% include common/nav.html %}

{% include common/masthead.html
	heading=page.title
%}

<section class="background-dark">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 offset-lg-3">
				<div class="p-5">

					<!--<h2 class="display-4">Contribute</h2>-->

					<div>{{ content }}</div>

				</div>
			</div>
		</div>
	</div>
</section>

{% include common/footer.html %}
{% include common/javascript.html %}
</body>

</html>
