<!DOCTYPE html>
<html lang="en">

{% include common/head.html %}

<body>

<!-- Navigation -->
{% include common/nav.html %}

{% include common/masthead.html %}

<section class="background-dark">
	<div class="container">

		{% for episode in site.episodes %}

			{% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
			{% if thecycle == 'odd' %}
				{% capture img-pos-class %}order-lg-2{% endcapture %}
				{% capture content-pos-class %}order-lg-1{% endcapture %}
			{% else %}
				{% capture img-pos-class %}order-lg-1{% endcapture %}
				{% capture content-pos-class %}order-lg-2{% endcapture %}
			{% endif %}

			<div class="row align-items-center">

				<!--image-->
				<div class="col-lg-6 {{img-pos-class}}">
					<div class="p-5">
						<img class="img-fluid" src="{{ episode.image }}" alt="">
					</div>
				</div>

				<!--title and description-->
				<div class="col-lg-6 {{content-pos-class}}">
					<div class="p-5">

						<h2 class="display-4">{{ episode.title }}</h2>

						<div>{{ episode.content }}</div>

					</div>
				</div>
			</div>

			{% if episode.pinecast-url %}
				<div class="row">
					<div class="mx-auto mb-5">
						<audio controls>
							<source src="{{episode.pinecast-url}}" type="audio/mpeg">
							Your browser does not support the audio element.
						</audio>
					</div>
				</div>
			{% endif %}

			{% if forloop.last == false %}
				<hr/>
			{% endif %}

		{% endfor %}
	</div>
</section>

{% include common/footer.html %}
{% include common/javascript.html %}
</body>

</html>
