<!DOCTYPE html>
<html lang="en">

{% include common/head.html %}

  <body>

    <!-- Navigation -->
    {% include common/nav.html %}

    {% include common/masthead.html
        image=page.masthead-image
        heading="The Host"
        subheading="Podcast"
    %}

    <section class="background-dark">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{{ page.podcast-image }}" alt="">
            </div>
          </div>

          <div class="col-lg-6 order-lg-1">
            <div class="p-5">

              <h2 class="display-4">The Host</h2>

              <p>{{ content }}</p>

              <div class="d-flex flex-row justify-content-around mt-5">
                <div class="my-auto">
                  {% include common/badges/itunes-badge.html %}
                </div>
                <div class="my-auto">
                  {% include common/badges/google-play-badge.html %}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    {% include common/footer.html %}
    {% include common/javascript.html %}
  </body>

</html>
